<div class="administrators">
    <h3>Office System Administrators</h3>
    <p><button (click)="onCreateNewAdmin()" class="btn btn-primary">Add Office System Admin</button></p>
    <custom-table [data]="data"
                 [totalItems]="totalItems"
                 [config]="systemAdministratorsService.configAdminsTable"
                 [columns]="systemAdministratorsService.columnsAdminsTable"
                 (onDelete)="deleteModal.open($event)"
                 (onEdit)="onEditClick($event)"></custom-table>

    <modal-delete #deleteModal
        [formErrors] = "formErrors"
        (onDelete) = "removeAdministrator($event)"></modal-delete>
    <modal-component #addAdminModal
                    cancelButtonLabel="Cancel"
                    submitButtonLabel="Add Office System Admin"
                    modalHeader = "Add Office System Administrator"
                    [columns]="systemAdministratorsService.columnsAdminsTableModal"
                    [config]="systemAdministratorsService.configAdminsTableModal"
                    [rows]="rows"
                    [data]="data"
                    [totalItems]="totalItems"
                    [formErrors] = "formErrors"
                    (onSubmit) = "onAddAdminToOffice($event)"
                    (onRowClick)="onRowClick($event)"
                    (onOpen)="onOpen()"
                    (onRowClicked) = "onRowClicked()"></modal-component>
</div>
