<modal #childModal
       [cancelButtonLabel]="cancelButtonLabel"
       [submitButtonLabel]="submitButtonLabel"
       modalClass="modal-lg"
       [hideCloseButton]="true"
       (onClose)="modalOnClose()"
       (onSubmit)="modalOnSubmit()">

    <modal-header><h3>{{modalHeader}}</h3></modal-header>
    <modal-content>
        <customtable [columns]="columns"
                     [rows]="rows"
                     [data]="data"
                     [totalItems]="totalItems"
                     [config]="config"
                    ></customtable>

        <div *ngIf="formErrors.length" class="alert alert-danger">
            <div *ngFor='let error of formErrors'>
                {{ error }}
            </div>
        </div>
    </modal-content>

</modal>