<div class="login center-block">
  <h2>Login</h2>
  <form  class="form-horizontal" [formGroup]="userForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control"  placeholder="Name" required formControlName="name">
      <div *ngIf="formErrors.name" class="alert alert-danger">
        {{ formErrors.name }}
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Password" required formControlName="password">
      <div *ngIf="formErrors.password" class="alert alert-danger">
        {{ formErrors.password }}
      </div>
    </div>
    <div class="form-group">
      <div *ngIf="formErrors.common.length" class="alert alert-danger">
        <div *ngFor='let error of formErrors.common'>
          {{ error.message }}
        </div>
      </div>
      <button [disabled]="loading" class="btn btn-primary">Log in</button>
    </div>
  </form>
</div>




