<div class="center-block main-area offices-area">
    <h2>All Offices <em>Offices {{totalItems}}</em></h2>
    <p><button (click)="onCreateNewOffice()" class="btn btn-primary">Create New Office</button></p>
    <custom-table [rows]="rows"
                 [data]="data"
                 [totalItems]="totalItems"
                 [columns]="officeService.tableColumns"
                 [config]="officeService.tableConfig"
                 (onDelete)="deleteModal.open($event)"
                 (onEdit)="onEditClick($event)"
                 (onNameClick)="onNameClick($event)"></custom-table>
    <modal-delete #deleteModal
                 [formErrors] = "formErrors"
                 (onDelete) = "removeOffice($event)"></modal-delete>
</div>
