<h2>Create New Office</h2>
<form name="officeForm" class="form-inline" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name" class="center-block">Office Name</label>
        <input type="text" class="form-control" [(ngModel)]="office.name" name="name" id="name" placeholder="Enter Office Name" required>
    </div>
    <div class="form-group">
        <label for="officeTypes" class="center-block">Office Type</label>
        <select class="form-control" name="type" [(ngModel)]="office.type" id="officeTypes" required>
            <option *ngFor="let type of officeTypes" [value]="type.value">{{type.label}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="state" class="center-block">US State</label>
        <select class="form-control" id="state" name="state" [(ngModel)]="office.state" required>
            <option *ngFor="let state of states" [value]="state.abbreviation">{{state.abbreviation}}</option>
        </select>
    </div>
    <systemAdministrators></systemAdministrators>
    <div class="button-area">
        <button type="submit" class="btn btn-default pull-left">Save Changes</button>
        <button (click)="onCancel()" class="btn btn-default pull-left cancel">Cancel</button>
    </div>
</form>